.footer_container{
	display: flex;
	flex-direction: column;
	/* OR flex-flow: row nowrap; */
	
	justify-content: center;
	align-items: center;
	
	/*
	border-top-style: solid;
	border-top-color: black;
	border-top-width: medium;
	*/
}

.sm_container{
	padding-top: 1vw;
	padding-bottom: 0.2vw;
	cursor: default;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/* OR flex-flow: row nowrap; */
	
	justify-content: center;
	align-items: center;
}

.sm_svg{
	/*margin-left: 15px;*/
	
	width: 3.98vw;	/* Control size of svg */
	/*
	width: 49.4px;
	height: 49.4px;
	*/
}

.sm_circle{
	color: black;
	fill: currentColor;
}
.sm_path{
	color: white;
	fill: currentColor;
}

/* During hover of the social media icons */
.sm_svg svg:hover{
	cursor: pointer;
}
.sm_svg svg:hover .sm_circle{
	color: white;
}
.sm_svg svg:hover .sm_path{
	color: black;
}




.copy_container{
	font-size: 1.289vw;
}

#year{
	display: inline;
}









/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
	.footer_container{
		padding: 1vw 0;
	}
	
	.sm_container{
		padding-top: 3.6vw;
		padding-bottom: 1.3vw;
	}
	.sm_svg{
		width: 12.5vw;
	}
	
	.copy_container{
		font-size: 5vw;
	}
}

/* Medium devices (landscape tablets, portrait tablets and large phones, between 600px and 1280px) */
/* And for small screens in landscape mode. */
@media only screen and (min-width: 600px) and (max-width: 1280px), screen and (max-width: 600px) and (orientation: landscape){
	.footer_container{
		padding: 0.75vw 0;
	}
	
	.sm_container{
		padding-top: 1.5vw;
		padding-bottom: 1vw;
	}
	.sm_svg{
		width: 6.5vw;
	}
	
	.copy_container{
		font-size: 2.5vw;
	}
}

/* Large devices (laptops/desktops, 1280px and up) */
@media only screen and (min-width: 1280px){
	.footer_container{
		padding: 0.5vw 0;
	}
}