.nav_container{
	width: 100%;
	
	position: absolute;
	z-index: 1;
	
	background-color: transparent;
	
	/* Hidden in main page. */
	opacity: 0;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
}

.nav_container:hover{
	opacity: 1;
}

#home{
	border-bottom-color: white;
}

