---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include global_resources.html %}
		
		<link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
		<!--
			https://fonts.google.com/specimen/IM+Fell+English+SC?selection.family=IM+Fell+English+SC
			font-family: 'IM Fell English SC', serif;
			
			https://fonts.google.com/specimen/Amatic+SC?selection.family=Amatic+SC
			font-family: 'Amatic SC', cursive;
		-->
		
		<link rel="stylesheet" type="text/css" href="css/projects.css"/>
		<link rel="stylesheet" type="text/css" href="css/for_header.css"/>
	</head>
	
	<body>
		{% include header.html %}
		
		<!-- Above the Fold -->
		<div class="intro_container">
			<div class="intro_img"></div>
			<div class="intro_content">
				<p>My work as a Programmer</p>
				<h1>My Projects</h1>
			</div>
		</div>
		
		<!-- Timeline -->
		<!--
		<div class="timeline">
			<div class="container left">
				<div class="content">
					<h2>2017</h2>
					<p>Lorem ipsum..</p>
				</div>
			</div>
			<div class="container right">
				<div class="content">
					<h2>2016</h2>
					<p>Lorem ipsum..</p>
				</div>
			</div>
		</div>
		-->
		
		<div class="desc_container">
			<h1>I'm an intrigued Computer Science student<h1>
			<h2>Description</h2>
		</div>
		
		<div class="header_container">
			<h2>Programming Projects</h2>
		</div>
		
		<div class="projects_container">
			<div class="project">
				<div class="project_img" style="background-image: url('img/personal_web_1.png'); background-position: 50% 0%;"></div>
				<div class="project_desc">
					<h5>Personal Project</h5>
					<h3>Personal Website</h3>
					<a href="" class="a_remove_deco">
						<div class="btn">View Project</div>
					</a>
				</div>
			</div>
			<div class="project">
				<div class="project_img" style="background-image: url('img/sort_shuffle_testcase_1.png');"></div>
				<div class="project_desc">
					<h5>Software Engineering Project</h5>
					<h3>Sort and Shuffle Test Cases</h3>
					<a href="" class="a_remove_deco">
						<div class="btn">View Project</div>
					</a>
				</div>
			</div>
			<div class="project">
				<div class="project_img" style="background-image: url('img/reversi_1.png');"></div>
				<div class="project_desc">
					<h5>Software Engineering Project</h5>
					<h3>Reversi</h3>
					<a href="" class="a_remove_deco">
						<div class="btn">View Project</div>
					</a>
				</div>
			</div>
			<div class="project">
				<div class="project_img" style="background-image: url('img/web_1.png'); background-position: 54% 0%;"></div>
				<div class="project_desc">
					<h5>Web Design Project</h5>
					<h3>Self-Improvement</h3>
					<a href="" class="a_remove_deco">
						<div class="btn">View Project</div>
					</a>
				</div>
			</div>
			<div class="project">
				<div class="project_img" style="background-image: url('img/playlist_1.png');"></div>
				<div class="project_desc">
					<h5>Software Engineering Project</h5>
					<h3>iPod Sort and Shuffle Playlist</h3>
					<a href="" class="a_remove_deco">
						<div class="btn">View Project</div>
					</a>
				</div>
			</div>
		</div>
		
		{% include footer.html %}
	</body>
	
</html>