.intro_container{
	width: 100%;
}

.intro_img{
	position: relative;
	
	height: 100vh;
	
	opacity: 0.5;
	
	/* image url, position (x and y, for shifting image), linear-gradient. */
	background: url("../img/grip_1.jpg"), linear-gradient(to right, black, black);
	background-position: 0% 80%;		/* x and y, for shifting image. */
	background-size: cover;
	background-repeat: no-repeat;
	/*background-blend-mode: screen;*/
	background-blend-mode: hard-light;
	
	filter: brightness(100%) grayscale(80%);
}

.intro_content{
	position: absolute;
	
	text-align: center;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	color: white;
}

.intro_content p{
	font-size: 2vw;
	
	font-style: italic;
	/*
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Merriweather', serif;
	font-family: 'Bree Serif', serif;
	font-family: 'Noto Serif', serif;
	font-family: 'Moon_Bold';
	font-family: 'Moon_Light';
	font-family: 'Baufra_SemiBold';
	font-family: 'Helvetica';
	*/
}

.intro_content h1{
	padding-top: 2vw;
	
	font-size: 5vw;
	text-transform: uppercase;
	
	font-weight: 1000;
	
	font-family: 'Helvetica';
}







/* Level Zero, container containing the whole thing. */
.outer_flex{
	padding: 8vw 0;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
	justify-content: center;
	align-content: center;
	align-items: center;
}

/* Level One, all three divs in L1. */
.container{
	width: 100%;	/* Omitted = Content cluttered in the center. */
	padding-bottom: 6vw;
}

/* Level One, First div and last div. */
.outer_flex .container:first-child{
	padding-top: 0vw;
}
.outer_flex .container:last-child{
	padding-bottom: 0vw;
}

/* Level Two, Technologies wrapper, for inner flexbox. */
.middle_flex{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	justify-content: space-around;
	align-content: center;
}

/* Level Three, headers for technologies, work_exp & edu. */
.header_1{
	width: 35%;
	
	font-size: 1.75vw;
	color: #565656; /* Darker */
	letter-spacing: 0.1vw;
	font-family: 'Montserrat', sans-serif;
	
	padding-left: 8vw;
}

/* Level Three and Four, inner flexbox for techno, work_exp and edu. */
.inner_row_flexbox{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	
	justify-content: flex-start;
}
.inner_column_flexbox{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	
	justify-content: flex-start;
}
.inner_flexbox_wrapper{
	width: 65%;
}

/* Level Six, Technologies headers and lists. */
.header_2{
	padding-bottom: 3vh;
	
	color: black;
	letter-spacing: 0.05vw;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.comforts, .experience_with{
	width: 50%;
}
.comforts ul, .experience_with ul{
	list-style-type: disc;
	
	padding-left: 3vw;
	
	color: #1a1a1a; /* Lighter */
	font-family: 'Montserrat', sans-serif;
}
.comforts ul li, .experience_with ul li{
	padding-bottom: 2vh;
}

/* Level Five, individual container that holds work_exp and edu. */
.work, .edu{
	padding-bottom: 8vh;
}

/* Level Six, individual attributes of each individual container in work_exp and edu. */
.work .title, .edu .course{
	padding-bottom: 3vh;
	
	color: black;
	letter-spacing: 0.05vw;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.work .company .link{
	border-bottom-style: solid;
	border-bottom-color: lightgrey;
	border-bottom-width: 0.1vw;
	
	opacity: 1;
	color: black;
}
.work .company .link:hover{
	opacity: 0.7;
}
.work .company, .edu .institute, .location, .period{
	color: #1a1a1a; /* Lighter */
	opacity: 0.65;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.work .company, .work .location, .work .period{
	font-weight: 600;
}
.work .desc{
	padding-top: 1vh;
	line-height: 185%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2vw;
}
.work, .edu{	/* Adds padding to look neater. */
	padding-right: 5vw;
}
/* Commas */
.company:after, .institute:after, .location:after{
	content: ",";
}














/* Include fonts */
@font-face{
	font-family: 'Moon_Bold';
	src: url('../../fonts/Moon_Bold.otf');
}

@font-face{
	font-family: 'Moon_Light';
	src: url('../../fonts/Moon_Light.otf');
}

@font-face{
	font-family: 'Baufra_SemiBold';
	src: url('../../fonts/Baufra_SemiBold.otf');
}

@font-face{
	font-family: 'Helvetica';
	src: url('../../fonts/Helvetica.ttf');
}s