---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include global_resources.html %}
		
		<link rel="stylesheet" type="text/css" href="css/homepage.css"/>
		<link rel="stylesheet" type="text/css" href="css/for_header.css"/>
		<link rel="stylesheet" type="text/css" href="css/for_footer.css"/>
	</head>
	
	<body>
		{% include header.html %}
	
		<div class="bg_img"></div>
		<div class="content_container">
			<div class="name_container">
				<h1>
					<span class="name_bold">B</span>ryan
					<span class="name_bold">S</span>ng
				</h1>
			</div>
			
			<div class="main_nav_container">
				<a href="/" class="a_remove_deco">
					Home
				</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
				<a href="resume/" class="a_remove_deco">
					Resume
				</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
				<a href="projects/" class="a_remove_deco">
					Projects
				</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
				<a href="photography/" class="a_remove_deco">
					Photography
				</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
				<a href="blog/" class="a_remove_deco">
					Blog
				</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
				<a href="musings/" class="a_remove_deco">
					Musings
				</a>
			</div>
		</div>
		
		{% include footer.html %}
	</body>
	
</html>