---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include_relative js/init_firebase.html %}
		
		{% include global_resources.html %}
		
		<link rel="stylesheet" type="text/css" href="css/contact.css"/>
		
		<title>Don't be Shy, Send a Hi</title>
	</head>
	
	<body>
		{% include header.html %}
		
		<!-- Above the Fold -->
		<div class="intro_container">
			<div class="intro_img"></div>
			<div class="intro_content">
				<p>Amazing things happen when you say hi.</p>
				<!--<p>Reach out and connect by sending a friendly hello.</p>-->
				<h1>Let's have a conversation over coffee</h1>
			</div>
		</div>
		
		<!-- Triggers -->
		<div class="chats">
			<div class="chat" id="gen_ques">
				<h2 class="category">General Questions</h2>
				<h3 class="desc">Feel free to reach out to me if you have any questions or comments about the services I can offer. Also, you could always just send me a friendly hello.</h3>
				<h4 class="action">Say Hello</h4>
			</div>
		</div>
		
		<!-- The Modals -->
		<div class="gen_ques_modal" id="gen_ques_modal">
			<div class="gen_ques_modal_wrapper" id="gen_ques_wrapper">
				<div class="gen_ques_modal_content">
					<div class="top">
						<h2>General Questions</h2>
						<div class="close">&times;</div>
					</div>
					
					<div class="middle">
						<form action="" id="contactForm" form="post">
							<div>
								<div id="formError">Your form has encountered a problem. Please scroll down to review.</div>
							</div>
							<div id="formNameError">Full Name is required.</div>
							<div id="formName">
								<h3>Full Name *</h3>
								<h4>I always like to know who I'm speaking with.</h4>
								<div class="inner_row">
									<div class="inner_column">
										<input type="text" name="fname" id="fname" autocomplete="given-name"/>
										<div>
											<label for="fname">First Name</label>
										</div>
									</div>
									<div class="inner_column">
										<input type="text" name="lname" id="lname" autocomplete="family-name"/>
										<div>
											<label for="lname">Last Name</label>
										</div>
									</div>
								</div>
							</div>
							
							<div id="formEmailError">Email Address is required.</div>
							<div id="formEmail">
								<label for="email">Email Address *</label>
								<input type="email" name="email" id="email" autocomplete="email" style="display: none;"/>
								<input type="email" name="actual_email" id="actual_email" autocomplete="email"/>
							</div>
							
							<div id="formMsgError">Your Message is required.</div>
							<div id="formMsg">
								<label for="msg">Your Message *</label>
								<h4>Send something awesome to my inbox.</h4>
								<textarea rows="5" name="msg" id="msg"></textarea>
							</div>
					
							<div class="bottom">
								<input type="submit" value="Send Message" class="send_msg"/>
							</div>
							<div>
								<div id="formError">Your form has encountered a problem. Please scroll up to review.</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="gen_ques_success_modal" id="gen_ques_success_modal">
				<div class="gen_ques_success_content">
					<div class="success_msg">
						<div class="close">&times;</div>
						<h2>Thank you for making a connection.</h2>
						<h3>I will reply back as soon as possible.</h3>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			/* Handles Modals of Chat. */
			// Get Body.
			var body = document.getElementsByTagName("body")[0];
			
			// Get trigger that opens modal.
			var gen_ques = document.getElementById("gen_ques");
			
			// Get modals.
			var gen_ques_modal = document.getElementById("gen_ques_modal");
			var gen_ques_wrapper = document.getElementById("gen_ques_wrapper");
			var gen_ques_success_modal = document.getElementById("gen_ques_success_modal");
			
			// Get the <div> element that closes the modal.
			var modal_close = document.getElementsByClassName("close")[0];
			var success_close = document.getElementsByClassName("close")[1];
			
			// When user clicks on trigger, open the modal
			gen_ques.onclick = function() {
				gen_ques_modal.style.display = "block";
				body.style.overflow = "hidden";
			}
			
			// When user clicks on <div> (x), close the modal
			modal_close.onclick = function(){
				gen_ques_modal.style.display = "none";
				body.style.overflow = "auto";
				
				// Reset styles.
				removeErrorStyles();
			}
			// When user clicks on the <div> (x), close the modal and the msg.
			success_close.onclick = function(){
				gen_ques_success_modal.style.display = "none";
				gen_ques_modal.style.display = "none";
				body.style.overflow = "auto";
				
				// Reset styles.
				removeErrorStyles();
			}
			
			// When user clicks anywhere outside the modal, close it
			window.onclick = function(event){
				if (event.target == gen_ques_wrapper){
					gen_ques_modal.style.display = "none";
					body.style.overflow = "auto";
					
					// Reset styles.
					removeErrorStyles();
				}
				if (event.target == gen_ques_success_modal){
					gen_ques_success_modal.style.display = "none";
					gen_ques_modal.style.display = "none";
					body.style.overflow = "auto";
					
					// Reset styles.
					removeErrorStyles();
				}
			}
		</script>
		
		<script>
			// Initialize Cloud Firestore through Firebase.
			var db = firebase.firestore();
			db.settings({timestampsInSnapshots: true});
			
			// Listen for form submit.
			document.getElementById("contactForm").addEventListener("submit", submitForm);
			
			// Get h2 and h3 messages.
			var modal = document.getElementById("gen_ques_success_modal");
			h2_msg = modal.getElementsByTagName("h2")[0].innerHTML;
			h3_msg = modal.getElementsByTagName("h3")[0].innerHTML;
			
			function submitForm(event){
				// Prevent when clicking on submit to default to a submit page.
				event.preventDefault();
				
				// Reset styles.
				removeErrorStyles();
				
				var fname = getInputValue("fname");
				var lname = getInputValue("lname");
				var email = getInputValue("actual_email");
				var fake_email = getInputValue("email");
				var msg = getInputValue("msg");
				
				// Validate inputs, then save, Save values.
				if (isValid(fname, lname, email, fake_email, msg)){
					saveValues(fname, lname, email, fake_email, msg);
					
					// Show the message modal with loading animation.
					loadingModal();
				}
				else{
					formErrors = document.querySelectorAll("[id^='formError']");
					
					for (var i = 0; i < formErrors.length; i++){
						formErrors[i].style.display = "inline-block";
					}
				}
				
			}
			
			// Function removes all error styles.
			function removeErrorStyles(){
				// Remove that of id=formError, there should be two.
				formErrors = document.querySelectorAll("[id^='formError']");
				
				for (var i = 0; i < formErrors.length; i++){
					formErrors[i].style.display = "none";
				}
				
				// Remove name errors.
				document.getElementById("formNameError").style.display = "none";
				document.getElementById("formName").style.color = "#1A1A1A";
				
				// Remove email errors.
				document.getElementById("formEmailError").style.display = "none";
				document.getElementById("formEmail").style.color = "#1A1A1A";
				
				// Remove message errors.
				document.getElementById("formMsgError").style.display = "none";
				document.getElementById("formMsg").style.color = "#1A1A1A";
			}
			
			// Function validates input values.
			function isValid(fname, lname, email, fake_email, msg){
				// Check if input values are empty, display error styles if so.
				if (fname === "" || lname === ""){
					document.getElementById("formNameError").style.display = "inline-block";
					document.getElementById("formName").style.color = "#cc3b3b";
				}
				if (email === ""){
					document.getElementById("formEmailError").style.display = "inline-block";
					document.getElementById("formEmail").style.color = "#cc3b3b";
				}
				if (fake_email !== ""){	// Simply returns false atm.
				}
				if (msg === ""){
					document.getElementById("formMsgError").style.display = "inline-block";
					document.getElementById("formMsg").style.color = "#cc3b3b";
				}
				
				// If any input values are empty, return false.
				if (fname === "" || lname === "" || email === "" || fake_email !== "" || msg === ""){
					return false;
				}
				else{
					return true;
				}
			}
			
			// Function to get form input values.
			function getInputValue(id){
				return document.getElementById(id).value;	// get input value.
			}
			
			// Functions saves the values to firebase.
			function saveValues(fname, lname, email, fake_email, msg){
				// Get date.
				var date = getDate();
				// Get time.
				var time = getTime();
				// Get timestamp in terms of Unix seconds.
				var timestamp = Date.now();
				timestamp = Math.floor(timestamp / 1000);	// from milliseconds to seconds.
				
				db.collection("contact").doc(date).collection(date).doc(time).set({
					first_name: fname,
					last_name: lname,
					email: email,
					fake_email: fake_email,
					message: msg,
					time_uploaded: timestamp
				})
				.then(function(){
					// Set function doesn't return a docRef.
					//console.log("Document written with ID: ", docRef.);
					
					// Clear form.
					document.getElementById("contactForm").reset();
					
					// Show the success message modal.
					doneModal();
					
					// Entire modal will disappear after 5 seconds.
					setTimeout(function(){
						gen_ques_success_modal.style.display = "none";
						gen_ques_modal.style.display = "none";
						body.style.overflow = "auto";
					}, 5000);
				})
				.catch(function(error){
					console.error("Error adding document: ", error);
				});
			}
			
			// Displays the loading text with animation in the success modal.
			function loadingModal(){
				modal.style.display = "block";
				modal.children[0].classList.toggle("border_loading");
				modal.getElementsByTagName("h2")[0].innerHTML = "Loading";
				modal.getElementsByTagName("h2")[0].classList.toggle("loading");
				modal.getElementsByTagName("h3")[0].innerHTML = "";
				
			}
			
			// Displays the success text in the success modal.
			function doneModal(){
				modal.children[0].classList.toggle("border_loading");
				modal.children[0].classList.toggle("border_success");
				modal.getElementsByTagName("h2")[0].innerHTML = h2_msg;
				modal.getElementsByTagName("h2")[0].classList.toggle("loading");
				modal.getElementsByTagName("h3")[0].innerHTML = h3_msg;
			}
			
			// Returns today's date.
			function getDate(){
				// Get today's date.
				var today = new Date();
				var dd = today.getDate();
				var mm = today.getMonth() + 1; // Jan is 0.
				var yyyy = today.getFullYear();
				
				if (dd < 10){
					dd = '0' + dd;
				}
				if (mm < 10){
					mm = '0' + mm;
				}
				
				today = mm + '_' + dd + '_' + yyyy;
				return today;
			}
			
			// Returns current time.
			function getTime(){
				// Get current time.
				var today = new Date();
				var h = today.getHours();
				var m = today.getMinutes();
				var s = today.getSeconds();
				
				if (h < 10){
					h = '0' + h;
				}
				if (m < 10){
					m = '0' + m;
				}
				if (s < 10){
					s = '0' + s;
				}
				
				time = h + ':' + m + ':' + s;
				return time;
			}
		</script>
		
		<div class="map_container">
			<div id="map"></div>
		</div>
		
		<script src="js/initMap.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1njnqeZlI3MO-k9ghCwuuroCQWuvYef4&callback=initMap"></script>
		
		{% include footer.html %}
	</body>
	
</html>