---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include_relative js/init_firebase.html %}
		
		{% include global_resources.html %}
		
		<link rel="stylesheet" type="text/css" href="css/musings.css"/>
		<link rel="stylesheet" type="text/css" href="css/for_header.css"/>
		
		<title>Place of Inspiration</title>
	</head>
	
	<body>
		{% include header.html %}
		
		<!-- Above the Fold -->
		<div class="intro_container">
			<div class="intro_img"></div>
			<div class="intro_content">
				<p>Quotes that I live by</p>
				<h1>Musings</h1>
			</div>
		</div>
		
		<!-- Transition Container -->
		<div class="transition"></div>
		
		<!-- Preloader for Quotes -->
		<div class="preload_container" id="temp_parent"></div>
		
		<script>
			// Preloader.
			var new_quotes = document.createElement("div");
			new_quotes.classList.add("preload_quotes");
			
			for (var i = 0; i < 5; i++){
				var new_quote_container = document.createElement("div");
				new_quote_container.classList.add("preload_quote_container");
				
				var new_date = document.createElement("div");
				var new_quote = document.createElement("div");
				var new_author = document.createElement("div");
				new_date.classList.add("preload_date");
				new_quote.classList.add("preload_quote");
				new_author.classList.add("preload_author");
				
				new_quote_container.append(new_date);
				new_quote_container.append(new_quote);
				new_quote_container.append(new_author);
				
				new_quotes.append(new_quote_container);
			}
			var parent = document.getElementById("temp_parent");
			parent.append(new_quotes);
		</script>
		
		<!-- Quotes -->
		<div class="content_container" id="parent"></div>
		
		{% include footer.html %}
		
		<script>
			// Initialize Cloud Firestore through Firebase.
			var db = firebase.firestore();
			
			var new_quotes = document.createElement("div");
			new_quotes.classList.add("quotes_container");
			
			db.collection("musings").orderBy("order").get().then((querySnapshot) => {
				querySnapshot.forEach((doc) => {
					data = doc.data();
					
					var new_div = document.createElement("div");
					var new_date = document.createElement("div");
					var new_quote = document.createElement("blockquote");
					var new_author_p = document.createElement("p");
					var new_author_cite = document.createElement("cite");
					
					// Create a string formatted time for the date.
					var date = new Date(data["time_uploaded"] * 1000);	// In milliseconds.
					var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
					var month = months[date.getMonth()];
					var year = date.getFullYear();
					var day = date.getDate();
					if (date.getDate() < 10){	// Looks neater when printed.
						day = '0' + day;
					}
					var formattedTime = month + " " + day + ", " + year;
					
					new_date.innerHTML = formattedTime;
					new_quote.innerHTML = data["quote"];
					new_author_cite.innerHTML =  "- " + data["author"];
					
					new_date.classList.add("quote_date");
					new_div.classList.add("quote_container");
					new_quote.classList.add("quote");
					
					new_div.append(new_date);
					new_div.append(new_quote);
					new_author_p.append(new_author_cite);
					new_div.append(new_author_p);
					
					new_quotes.insertBefore(new_div, new_quotes.childNodes[0]); // insert into first node.
				});
			});
			
			var parent = document.getElementById("parent"); // get parent.
			parent.append(new_quotes);
			parent.style.display = "block";
			
			var temp_parent = document.getElementById("temp_parent");
			temp_parent.style.display = "none";
		</script>
		
		<script>
			/*
			// Initialize Cloud Firestore through Firebase.
			var db = firebase.firestore();
			
			var d = new Date();
			var timestamp = d.getTime();
			
			// Add a new document in a collection.
			db.collection("musings").add({
				quote: "Hello",
				author: "Bryan",
				order: 1,
				time_uploaded: timestamp
			})
			.then(function(docRef){
				console.log("Document written with ID: ", docRef.id);
			})
			.catch(function(error){
				console.error("Error adding document: ", error);
			});
			*/
		</script>
	</body>
	
</html>