<div class="footer_container">
	<div class="sm_container">
		<div class="sm_svg" style="order: 1;">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
				<a href="https://www.instagram.com/bryan_sng/" target="_blank" class="a_remove_deco">
					{% include svg/footer/instagram.html %}
				</a>
			</svg>
		</div>
		<div class="sm_svg" style="order: 2;">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
				<a href="https://www.facebook.com/bryansnghy" target="_blank" class="a_remove_deco">
					{% include svg/footer/facebook.html %}
				</a>
			</svg>
		</div>
		<div class="sm_svg" style="order: 3;">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
				<a href="https://www.hackerrank.com/bryan_sng" target="_blank" class="a_remove_deco">
					{% include svg/footer/hackerrank.html %}
				</a>
			</svg>
		</div>
		<div class="sm_svg" style="order: 4;">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
				<a href="https://www.linkedin.com/in/bryan-sng-48077a136/" target="_blank" class="a_remove_deco">
					{% include svg/footer/linkedin.html %}
				</a>
			</svg>
		</div>
		<div class="sm_svg" style="order: 5;">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
				<a href="https://github.com/bryansng" target="_blank" class="a_remove_deco">
					{% include svg/footer/github.html %}
				</a>
			</svg>
		</div>
		<!--
		<div class="sm_svg" style="order: 3;">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
				<a href="https://www.youtube.com/" target="_blank" class="a_remove_deco">
					{% include svg/footer/youtube.html %}
				</a>
			</svg>
		</div>
		<div class="sm_svg" style="order: 4;">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
				<a href="https://twitter.com/" target="_blank" class="a_remove_deco">
					{% include svg/footer/twitter.html %}
				</a>
			</svg>
		</div>
		-->
	</div>
	<div class="copy_container">
		&copy;&nbsp;<span id="year">2018</span>&nbsp;Bryan Sng.
		&nbsp;|&nbsp;
		V1.0
	</div>
</div>

<script>
	var d = new Date();
	document.getElementById("year").innerHTML = d.getFullYear();
</script>