<!-- Meta -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../css/header.css"/>
<link rel="stylesheet" type="text/css" href="../css/footer.css"/>
<link rel="stylesheet" type="text/css" href="../css/global.css"/>

<!-- Icons -->
<link rel="icon" type="image/icon" href="../favicon.png"/>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<!-- Fonts Homepage -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
<!--
	https://fonts.google.com/specimen/Roboto
	font-family: 'Roboto', sans-serif;
	
	https://fonts.google.com/specimen/Roboto+Slab?selection.family=Roboto+Slab
	font-family: 'Roboto Slab', serif;
	
	https://fonts.google.com/specimen/Noto+Serif
	font-family: 'Noto Serif', serif;
	
	https://fonts.google.com/specimen/Merriweather?selection.family=Merriweather
	font-family: 'Merriweather', serif;
	
	https://fonts.google.com/specimen/Bree+Serif?selection.family=Bree+Serif
	font-family: 'Bree Serif', serif;
-->


<!-- Fonts Projects -->
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
<!--
	https://fonts.google.com/specimen/Source+Code+Pro?selection.family=Source+Code+Pro
	font-family: 'Source Code Pro',	monospace;
-->


<!-- Fonts Photography -->
<link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
<!--
	https://fonts.google.com/specimen/IM+Fell+English+SC?selection.family=IM+Fell+English+SC
	font-family: 'IM Fell English SC', serif;
	
	https://fonts.google.com/specimen/Amatic+SC?selection.family=Amatic+SC
	font-family: 'Amatic SC', cursive;
-->