<div class="nav_container">
	<div class="logo_container">
		<div class="logo_svg">
			<svg width="52" height="52">
				<rect width="50" height="50"/>
				<text fill="black">B&nbsp;S</text>
			</svg>
		</div>
	</div>
	
	<div class="tabs_container">
		<a href="http://127.0.0.1/" class="a_remove_deco" id="home">
			Home
		</a>
		<a href="http://127.0.0.1/resume/" class="a_remove_deco" id="work">
			Resume
		</a>
		<a href="http://127.0.0.1/projects/" class="a_remove_deco" id="projects">
			Projects
		</a>
		<a href="http://127.0.0.1/photography/" class="a_remove_deco" id="photography">
			Photography
		</a>
		<a href="http://127.0.0.1/blog/" class="a_remove_deco" id="blog">
			Blog
		</a>
		<a href="http://127.0.0.1/musings/" class="a_remove_deco" id="musings">
			Musings
		</a>
	</div>
</div>