.intro_container{
	width: 100%;
}

.intro_img{
	position: relative;
	
	height: 100vh;
	
	/*background-image: url("../img/bg_1.JPG");*/
	background-image: url("../img/bg_2.JPG");
	/*background-position: center;*/
	background-position: 0% 10%;		/* x and y, for shifting image. */
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.5;
	/*background-attachment: fixed;*/	/* Used for parallax effect. */
}

.intro_content{
	position: absolute;
	
	text-align: center;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.intro_content p{
	font-size: 2vw;
	
	font-style: italic;
	/*
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Merriweather', serif;
	font-family: 'Bree Serif', serif;
	font-family: 'Noto Serif', serif;
	font-family: 'Moon_Bold';
	font-family: 'Moon_Light';
	font-family: 'Baufra_SemiBold';
	font-family: 'Helvetica';
	*/
}

.intro_content h1{
	padding-top: 2vw;
	
	font-size: 5vw;
	text-transform: uppercase;
	
	font-weight: 1000;
	
	font-family: 'Helvetica';
}






.gallery_container{
	width: 100%;
	
	padding: 5vw;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* OR flex-flow: row wrap; */
	
	justify-content: center;
}

.gallery_wrapper{
	/* Maintains gallery symmetry */
	padding: 0.5vw;
}

.gallery_img{
	/* 3:2 */
	width: 360px;
	height: 240px;
	background-color: #EEEEEE;
}

.horizontal{
	object-fit: cover;
}

.vertical{
	object-fit: contain;
}









/* Include fonts */
@font-face{
	font-family: 'Moon_Bold';
	src: url('../../fonts/Moon_Bold.otf');
}

@font-face{
	font-family: 'Moon_Light';
	src: url('../../fonts/Moon_Light.otf');
}

@font-face{
	font-family: 'Baufra_SemiBold';
	src: url('../../fonts/Baufra_SemiBold.otf');
}

@font-face{
	font-family: 'Helvetica';
	src: url('../../fonts/Helvetica.ttf');
}

