.intro_container{
	width: 100%;
}

.intro_img{
	position: relative;
	
	height: 100vh;
	
	/*background-image: url("../img/bg_1.JPG");*/
	background-image: url("../img/bg_2.JPG");
	/*background-position: center;*/
	background-position: 0% 10%;		/* x and y, for shifting image. */
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.5;
	/*background-attachment: fixed;*/	/* Used for parallax effect. */
}

.intro_content{
	width: 100%;
	
	position: absolute;
	
	text-align: center;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	color: white;
}

.intro_content p{
	font-size: 2vw;
	
	font-style: italic;
	/*
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Merriweather', serif;
	font-family: 'Bree Serif', serif;
	font-family: 'Noto Serif', serif;
	font-family: 'Moon_Bold';
	font-family: 'Moon_Light';
	font-family: 'Baufra_SemiBold';
	font-family: 'Helvetica';
	*/
}

.intro_content h1{
	padding-top: 2vw;
	
	font-size: 5vw;
	text-transform: uppercase;
	
	font-weight: 1000;
	
	font-family: 'Helvetica';
}






.gallery_container, .preload_container{
	width: 100%;
	
	padding: 5vw;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* OR flex-flow: row wrap; */
	
	justify-content: center;
}
.gallery_container{
	display: none;
}

.gallery_wrapper{
	/* Maintains gallery symmetry */
	padding: 0.5vw;
}

.gallery_img, .preload_img{
	/* 3:2 */
	width: 27vw;
	height: 18vw;
	background-color: #EEEEEE;
	
	cursor: pointer;
}
.gallery_img{
	box-shadow: 0.1vw 0.15vw 1.02vw 0.15vw #DDD;
}
.preload_img{
	margin: 0.5vw;
}

.horizontal{
	object-fit: cover;
}

.vertical{
	object-fit: contain;
}






.modal{
	display: none;	/* Hidden by default */
	position: fixed;	/* Stay in place */
	
	width: 100%;	/* Full width */
	height: 100%;	/* Full height */
	
	overflow: auto;	/* Enable scroll if needed (will be disabled later) */
	
	left: 0;
	top: 0;
	
	background-color: rgba(0, 0, 0, 0.9);	/* Black w/ opacity */
	
	z-index: 1;	/* Sit on top */
}

/* The Close Button */
.close{
	position: absolute;
	top: 0;
	right: 0;
	
	margin: 1.25vw 3vw;
	
	color: white;
	font-size: 2.1vw;
	
	text-decoration: none;
	
	cursor: pointer;
	
	z-index: 5;
}
.close:hover, .close:focus{
	opacity: 0.8;
}

.modal_content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	font-family: 'Montserrat', sans-serif;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.slides_wrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
	justify-content: space-around;
	align-content: center;
	align-items: center;
}
.slide{
	display: none;	/* Hide other slides by default. */
	
	position: relative;
}
.modal_img{
	width: 70vw;
	height: 46.67vw;
}

/* Next & previous buttons */
.prev, .next{
	padding: 1.5vw;
	margin: 0 1vw;
	margin-top: -3.7vw;
	width: auto;
	
	top: 50%;
	
	color: white;
	font-weight: bold;
	font-size: 1.6vw;
	
	user-select: none;
	cursor: pointer;
}
/* On hover, add a black background color with a little bit see-through. */
.prev:hover, .next:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.caption_container{
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}






/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
	.intro_container{
		position: relative;
	}
	.intro_img{
		width: 100%;
		height: 35vh;
	}
	.intro_content p{
		font-size: 5vw;
	}
	.intro_content h1{
		font-size: 8vw;
	}
	
	.gallery_container, .preload_container{
		width: 100%;
		
		padding: 5vw 2vw;
	}
	.gallery_wrapper{
		/* Maintains gallery symmetry */
		padding: 0.5vw;
	}
	
	.gallery_img, .preload_img{
		/* 3:2 */
		width: 88vw;
		height: 58.67vw;
	}
	.gallery_img{
		box-shadow: 1vw 1.15vw 1vw 0.15vw #DDD;
	}
	.preload_img{
		margin: 0.5vw;
	}
	
	.close{
		margin: 50vw 3vw;
		
		font-size: 4vw;
	}
	
	.modal_img{
		width: 88vw;
		height: 58.67vw;
	}
	
	.prev, .next{
		padding: 2vw 1.5vw;
		margin: 0 1vw;
		margin-top: -3.7vw;
		width: auto;
		
		top: 50%;
		
		font-size: 3vw;
	}
	
	.caption_container{
		padding: 2px 16px;
	}
}

/* Medium devices (landscape tablets, portrait tablets and large phones, between 600px and 1280px) */
/* And for small screens in landscape mode. */
@media only screen and (min-width: 600px) and (max-width: 1280px), screen and (max-width: 600px) and (orientation: landscape){
	.intro_container{
		position: relative;
	}
	.intro_img{
		width: 100%;
		height: 100vh;
	}
	.intro_content p{
		font-size: 3.5vw;
	}
	.intro_content h1{
		font-size: 5vw;
	}
	
	.gallery_container, .preload_container{
		width: 100%;
		
		padding: 5vw 2vw;
	}
	.gallery_wrapper{
		/* Maintains gallery symmetry */
		padding: 0.7vw;
	}
	
	.gallery_img, .preload_img{
		/* 3:2 */
		width: 45vw;
		height: 30vw;
	}
	.gallery_img{
		box-shadow: 1vw 1.15vw 1vw 0.15vw #DDD;
	}
	.preload_img{
		margin: 0.5vw;
	}
	
	.close{
		margin: 1.75vw 2vw;
		
		font-size: 3.5vw;
	}
	
	.modal_img{
		width: 80vw;
		height: 53.33vw;
	}
	
	.prev, .next{
		padding: 2vw 1.5vw;
		margin: 0 1vw;
		margin-top: -3.7vw;
		width: auto;
		
		top: 50%;
		
		font-size: 3vw;
	}
	
	.caption_container{
		padding: 2px 16px;
	}
	
	/* For Header */
	.nav_container{
		width: 100%;
		
		position: absolute;
		z-index: 1;
		
		background-color: transparent;
	}
	#photography{
		border-bottom-color: white;
	}
}

/* In Ipad or larger mobile screens in portrait, the intro img takes the height of the device. */
@media only screen and (min-width: 600px) and (max-width: 1280px) and (orientation: portrait){
	.intro_img{
		height: 45vh;
	}
}

/* Large devices (laptops/desktops, 1280px and up) */
@media only screen and (min-width: 1280px){
	.intro_content{
		width: 75%;
	}
		
	/* For Header */
	.nav_container{
		width: 100%;
		
		position: absolute;
		z-index: 1;
		
		background-color: transparent;
	}
	#photography{
		border-bottom-color: white;
	}
}









/* Include fonts */
@font-face{
	font-family: 'Moon_Bold';
	src: url('../../fonts/Moon_Bold.otf');
}

@font-face{
	font-family: 'Moon_Light';
	src: url('../../fonts/Moon_Light.otf');
}

@font-face{
	font-family: 'Baufra_SemiBold';
	src: url('../../fonts/Baufra_SemiBold.otf');
}

@font-face{
	font-family: 'Helvetica';
	src: url('../../fonts/Helvetica.ttf');
}

