---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include global_resources.html %}
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../shared_css/project_details.css"/>
		<link rel="stylesheet" type="text/css" href="css/own_project_details.css"/>
		
		<title>Bryan Sng</title>
	</head>
	
	<body>
		{% include header.html %}
		
		<!-- Above the Fold -->
		<div class="intro_container">
			<div class="intro_content">
				<h1>Bryan Sng</h1>
				<h2>A personal website, aimed to facilitate the function of a resume or CV, with ease of contact and further elaboration of work.</h2>
			</div>
		</div>
		
		<div class="img_wrapper">
			<img src="img/personal_web_1.png" class="intro_img"/>
		</div>
		
		<div class="content_container">
			<div class="middle">
				<div class="homepage">
					<img src="img/1_Home.png"/>
				</div>
				<div class="pages">
					<div class="page">
						<h4>Projects</h4>
						<img src="img/2_Projects.png"/>
					</div>
					<div class="page">
						<h4>About</h4>
						<img src="img/3_About.jpg"/>
					</div>
					<div class="page">
						<h4>Resume</h4>
						<img src="img/4_Resume.png"/>
					</div>
					<div class="page">
						<h4>Photography</h4>
						<img src="img/5_Photography.jpg"/>
					</div>
					<div class="page">
						<h4>Contact</h4>
						<img src="img/6_Contact.png"/>
					</div>
				</div>
			</div>
			<div class="end">
				<h3>Fun Facts</h3>
				<ul>
					<li>Photography gallery lazy-loads.</li>
					<li>Footer Icons were created using SVGs.</li>
					<li>Google Firebase is used as the backend.</li>
					<li>Website was built using Plain HTML, CSS and Javascript with some Google Firebase code.</li>
					<li>Blog and Musings were planned, and might be added in the future.</li>
					<li>
						<a href="https://github.com/bryansng/bryansng.github.io" class="a_remove_deco" target="_blank">
							<i class="fa fa-github fa-lg"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		{% include footer.html %}
	</body>
	
</html>