---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include_relative js/init_firebase.html %}
		
		{% include global_resources.html %}
		
		<link rel="stylesheet" type="text/css" href="css/photography.css"/>
		
		<title>Glimpse of my life through a Lens</title>
	</head>
	
	<body>
		{% include header.html %}
		
		<!-- Above the Fold -->
		<div class="intro_container">
			<div class="intro_img"></div>
			<div class="intro_content">
				<p>Sometimes I take pictures</p>
				<h1>Taking momentary snapshot of life</h1>
			</div>
		</div>
		
		<!-- Preloader for Gallery -->
		<div class="preload_container" id="temp_wrapper_parent"></div>
		
		<script>
			// Preloader.
			var parent = document.getElementById("temp_wrapper_parent");
			for (var i = 0; i < 9; i++){
				var new_img = document.createElement("div");
				new_img.classList.add("preload_img");
				
				parent.append(new_img);
			}
		</script>
		
		<!-- Grids -->
		<div class="gallery_container" id="gallery_parent"></div>
		
		<!-- Modal/Lightbox -->
		<div class="modal" id="modal">
			<div class="close" onclick="closeModal()">&times;</div>
			<div class="modal_content" id="modal_content">
				<!-- Previous control -->
				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				
				<!-- All the slides -->
				<div class="slides_wrapper" id="slides_parent">
				</div>
				
				<!-- Next control -->
				<a class="next" onclick="plusSlides(1)">&#10095;</a>
				
				<!-- Caption text -->
				<!--
				<div class="caption_container">
					<p id="caption"></p>
				</div>
				-->
			</div>
		</div>
		
		<script src="js/getImages.js"></script>
		
		<script>
			// Get Body.
			var body = document.getElementsByTagName("body")[0];
			
			// Get modal.
			var modal = document.getElementById("modal");
			
			var slideIndex = 1;
			
			// Open the modal.
			function openModal(){
				modal.style.display = "block";
				body.style.overflow = "hidden";
			}
			// Close the modal.
			function closeModal(){
				modal.style.display = "none";
				body.style.overflow = "auto";
			}
			
			// When user clicks anywhere outside the modal, close it
			modal.addEventListener("click", function(event){
				if (event.target == modal){
					modal.style.display = "none";
					body.style.overflow = "auto";
				}
			});
			
			// Next/previous controls.
			function plusSlides(offset){
				showSlides(slideIndex += offset);
			}
			
			// Thumbnail image controls.
			function currentSlide(orderNum){
				var slides = document.querySelectorAll(".slide");
				showSlides(slideIndex = parseInt(orderNum) + parseInt(slides.length));
				/*
				-4 -3 -2 -1  0		[orderNum]
				 1  2  3  4  5		[What we want]
				*/
			}
			
			function showSlides(index){
				var i;
				var slides = document.querySelectorAll(".slide");
				var captionText = document.getElementById("caption");
				
				if (index > slides.length) {slideIndex = 1}
				if (index < 1) {slideIndex = slides.length}
				
				for (i = 0; i < slides.length; i++){
					slides[i].style.display = "none";
				}
				
				slides[slideIndex-1].style.display = "block";
				//captionText.innerHTML = ;
			}
			
			function handleClick(elm){
				openModal();
				// Get element's parent's order style.
				currentSlide(elm.parentNode.style.order);
			}
		</script>
		
		<script>
			/* Sorts the wrappers. */
			/*
			// TODO: Figure out this sort stuff by style.
			https://stackoverflow.com/questions/32256644/sort-an-array-with-dom-tags-and-attributes-by-left-and-top-values#fromHistory
			
			var elements = document.querySelectorAll(".gallery_wrapper");
			console.log(elements);
			
			// Create our function generator.
			function sortBy(prop){
				return function(a, b){
					var filter_a = parseInt(a.style[prop]);
					var filter_b = parseInt(b.style[prop]);
					return filter_a < filter_b
					? -1
					: (filter_a > filter_b ? 1 : 0);
				}
			}
			
			function sortDom(filter){
				// Transform our nodeList into array and apply sort function.
				return [].map.call(elements, function(elm){
					return elm;
				}).sort(sortBy(filter))
			}
			
			// Sort by order style property.
			var byOrder = sortDom("order");
			console.log(byOrder);
			*/
		</script>
		
		{% include footer.html %}
	</body>
	
</html>