---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include global_resources.html %}
		
		<link rel="stylesheet" type="text/css" href="css/photography.css"/>
		<link rel="stylesheet" type="text/css" href="css/for_header.css"/>
	</head>
	
	<body>
		{% include header.html %}
		
		<!-- Above the Fold -->
		<div class="intro_container">
			<div class="intro_img"></div>
			<div class="intro_content">
				<h1>
					Lorem Ipsum Yaya tita
				</h1>
				<p>
					Some text to fill the gap
				</p>
			</div>
		</div>
		
		<!-- Grids -->
		<div class="gallery_container">
			<div class="gallery_wrapper" style="order: 1;">
				<img src="img/t1.jpg" class="gallery_img"/>
			</div>
			<div class="gallery_wrapper" style="order: 2;">
				<img src="img/t2.jpg" class="gallery_img"/>
			</div>
			<div class="gallery_wrapper" style="order: 3;">
				<img src="img/t3.jpg" class="gallery_img"/>
			</div>
			<div class="gallery_wrapper" style="order: 4;">
				<img src="img/t4.jpg" class="gallery_img"/>
			</div>
			<div class="gallery_wrapper" style="order: 5;">
				<img src="img/t5.jpg" class="gallery_img"/>
			</div>
			<div class="gallery_wrapper" style="order: 6;">
				<img src="img/t6.jpg" class="gallery_img"/>
			</div>
		</div>
		
		<script>
			// Execute this script when windows done loading.
			function assignImageType(){
				var imgs = document.getElementsByClassName("gallery_img");
				
				for (var i = 0; i < imgs.length; i++){
					var width = imgs[i].naturalWidth;
					var height = imgs[i].naturalHeight;
					
					if (width > height){
						imgs[i].classList.add("horizontal");
					} else if (height > width){
						imgs[i].classList.add("vertical");
					}
				}
			}
			window.onload = assignImageType;
		</script>
		
		{% include footer.html %}
		
		{% include_relative init_firebase.html %}
	</body>
	
</html>