---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include global_resources.html %}
		
		<link rel="stylesheet" type="text/css" href="css/about.css"/>
		
		<title>How I became a Programmer</title>
	</head>
	
	<body>
		{% include header.html %}
		
		<!-- Above the Fold -->
		<div class="intro_container">
			<div class="intro_img"></div>
			<div class="intro_content">
				<p>Discover who I am as a person aside from being a programmer</p>
				<h1>My Personality</h1>
			</div>
		</div>
		
		<div class="desc_container">
			<h1>Some fun facts about myself<h1>
			<h2>I love french press coffee, with a ton of milk, I always wanted a pet dog, I'm not a huge fan of sports, I get quite curious about things, I knew what I wanted to do at the age of 15, I sometimes wear socks and sandals, I enjoy taking scenic walks, my favourite food is mac and cheese, I sometimes use Linux, and I currently live 7000 miles away from home.</h2>
		</div>
		
		<div class="understand">
			<h1>Understand who I am as a person</h1>
			<p>My path as a Computer Enthusiast has led me to pursue a degree in Computer Science. During the warmer months, I enjoy traveling and taking pictures of never before ventured venues to have scenic walks. Although the majority of the year, you will find me behind a computer screen. Most of my childhood was spent playing games, which has had a huge impact on the start of my journey, but that's a story for another time.</p><br/>
			<p>Throughout the years I've worked on several projects. With my most recent ones being Web Design and C programming. During the summer of 2018, I dedicated myself to working in a pizza and chinese restaurant. Putting myself through some bad experiences, but I've also had some great ones that allowed me to work with some amazing people who have played key roles in my personal development. I have worked very hard to get to where I am today, but I'm just as passionate about where my journey will lead me. The challenges that I deal with on a day-to-day basis I find meaningful and rewarding. Bottom line: I honestly love what I do and I will do whatever it takes to further my career.</p>
		</div>
		
		<div class="gallery_container">
			<img src="img/gallery/1_dogs_n_me.jpg"/>
			<img src="img/gallery/2_daiso_candles.jpg"/>
			<img src="img/gallery/3_baby_bamboo.jpg"/>
			<img src="img/gallery/4_mushrooms.jpg"/>
			<img src="img/gallery/5_castle.jpg"/>
			<img src="img/gallery/6_greens.jpg"/>
		</div>
		
		<div class="what_i_can_do">
			<h1>What I've done & what I can do</h1>
			<h2>Feel free to take a deeper look at what I've accomplished over the years and what I'm able to do for you.</h2>
			<div class="view_my">
				<a href="../projects/" class="a_remove_deco">View My Projects</a>
				<a href="../resume/" class="a_remove_deco">View My Resume</a>
			</div>
		</div>
		
		{% include footer.html %}
	</body>
	
</html>