---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include global_resources.html %}
		
		<link rel="stylesheet" type="text/css" href="css/about.css"/>
		<link rel="stylesheet" type="text/css" href="css/for_header.css"/>
	</head>
	
	<body>
		{% include header.html %}
		
		<!-- Above the Fold -->
		<div class="intro_container">
			<div class="intro_img"></div>
			<div class="intro_content">
				<p>Discover who I am as a person aside from being a programmer</p>
				<h1>My Personality</h1>
			</div>
		</div>
		
		<div class="desc_container">
			<h1>Some fun facts about myself<h1>
			<h2>I love french press coffee, with a ton of milk, I always wanted a pet dog, I'm not a huge fan of sports, I get quite curious about things, I knew what I wanted to do at the age of 15, I enjoy taking scenic walks, my favourite food is mac and cheese, I sometimes use Linux, and I currently live 7000 miles away from home.</h2>
		</div>
		
		<div class="understand">
			<h1>Understand who I am as a person</h1>
			<p>Lorem ipsum dolor sit amet, ne nec volutpat similique, et malis veritus adversarium pri, cu nec appetere singulis philosophia. Has no possit deseruisse signiferumque. Has omnium tractatos id. Tation abhorreant ei per. Percipitur scribentur ad vis, quod alia prompta et sit. Cu duo postea sapientem.</p><br/>
			<p>Id cum aliquid offendit similique, eu viris oblique atomorum sit, in nam vitae graecis. Vis adipisci gubergren ex, et eos mandamus pericula euripidis. Vix at veniam utamur albucius, pri eu quod intellegebat, no mediocrem forensibus ius. Et veritus gubergren expetendis pri. Mundi labores ei nam, eum illum vocent moderatius ad. Hinc quaestio maiestatis at sit, ut vel dicat nemore sensibus. Graeci urbanitas mel ut, et ius liber utinam discere.</p>
		</div>
		
		<div class="gallery_container">
			<img src="img/test_1.jpg"/>
			<img src="img/test_2.jpg"/>
			<img src="img/test_1.jpg"/>
			<img src="img/test_2.jpg"/>
			<img src="img/test_1.jpg"/>
			<img src="img/test_2.jpg"/>
		</div>
		
		<div class="what_i_can_do">
			<h1>What I've done & what I can do</h1>
			<h2>Lorem ipsum dolor sit amet, ne nec volutpat similique, et malis veritus adversarium pri, cu nec appetere singulis philosophia. Has no possit deseruisse signiferumque. Has omnium tractatos id. Tation abhorreant ei per.</h2>
			<a href="../resume/" class="a_remove_deco">View Resume</a>
		</div>
		
		{% include footer.html %}
	</body>
	
</html>