---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include global_resources.html %}
		
		<link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
		<!--
			https://fonts.google.com/specimen/IM+Fell+English+SC?selection.family=IM+Fell+English+SC
			font-family: 'IM Fell English SC', serif;
			
			https://fonts.google.com/specimen/Amatic+SC?selection.family=Amatic+SC
			font-family: 'Amatic SC', cursive;
		-->
		
		<link rel="stylesheet" type="text/css" href="css/resume.css"/>
		
		<title>Programmer fulfilling his Bucket List</title>
	</head>
	
	<body>
		{% include header.html %}
		
		<!-- Above the Fold -->
		<div class="intro_container">
			<div class="intro_img"></div>
			<div class="intro_content">
				<p>Responsibilities handed to me</p>
				<h1>The Jobs I did</h1>
			</div>
		</div>
		
		<div class="outer_flex">
			<!-- Technologies -->
			<div class="container">
				<div class="middle_flex">
					<div class="header_1">Technologies</div>
					<div class="inner_flexbox_wrapper">
						<div class="inner_row_flexbox">
							<div class="comforts">
								<div class="header_2">Day-to-day Comfort</div>
								<ul>
									<li>Python</li>
									<li>Pygame</li>
									<li>HTML5 / CSS3</li>
									<li>Version Control (GIT)</li>
								</ul>
							</div>
							<div class="experience_with">
								<div class="header_2">Experience with</div>
								<ul>
									<li>C</li>
									<li>PHP (limited)</li>
									<li>MySQL (limited)</li>
									<li>JavaScript (limited)</li>
									<li>Google Firebase (limited)</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Work Experience -->
			<div class="container">
				<div class="middle_flex">
					<div class="header_1">Work Experience</div>
					<div class="inner_flexbox_wrapper">
						<div class="inner_column_flexbox">
							<div class="work">
								<div class="title">Front of House and Pizza maker</div>
								<span class="company"><a href="https://www.apache.ie/" title="Apache Pizza's Website" target="_blank" class="link a_remove_deco">Apache Pizza</a> & <a href="http://www.lams-asian-cuisine.com/" title="Lam's Asian Cuisine's Website" target="_blank" class="link a_remove_deco">Lam's Asian Cuisine</a></span>
								<span class="location">Dún Laoghaire, Dublin, Ireland</span>
								<span class="period">May 2018 – September 2018</span>
								<div class="desc">Cordially took customer's orders either in-person or over the phone. Handled customer complaints with tact. Maintains the presentation of the restaurant by doing cleaning duties daily. Assists the kitchen whenever of convenience at the packaging, pizza stretching, saucing and topping stations during busy hours. During less hectic hours, you will find me in the kitchen, making pizzas of all sizes.</div>
							</div>
							<div class="work">
								<div class="title">Founder / Admin</div>
								<span class="company"><a href="https://www.facebook.com/eternalzcraftminecraftserver/" title="EternalzCraft Facebook Page" target="_blank" class="link a_remove_deco">EternalzCraft Minecraft Server</a></span>
								<span class="location">Penang, Malaysia</span>
								<span class="period">2013 – 2014 and 2016</span>
								<div class="desc">Curious individual who decided to host a gaming server. Figured out computer bottlenecks, network routing, advertising and server plugins at the outset. Compounds Suggestions made by staff members and players, creates a lean start up plan, and executes the plan. Relied by users to keep server services available 24/7. Point person to seek should user require any assistance or encounter any issues.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Education -->
			<div class="container">
				<div class="middle_flex">
					<div class="header_1">Education</div>
					<div class="inner_flexbox_wrapper">
						<div class="inner_column_flexbox">
							<div class="edu">
								<div class="course">BSc in Computer Science</div>
								<span class="institute">University College Dublin</span>
								<span class="location">Dublin, Ireland</span>
								<span class="period">2017 – Present</span>
							</div>
							<div class="edu">
								<div class="course">Cambridge International AS & A Levels</div>
								<span class="institute">INTI International College Penang</span>
								<span class="location">Penang, Malaysia</span>
								<span class="period">2016 – 2017</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="contact_to_hire"></div>
		
		{% include footer.html %}
	</body>
	
</html>