---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include global_resources.html %}
		
		<link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
		<!--
			https://fonts.google.com/specimen/IM+Fell+English+SC?selection.family=IM+Fell+English+SC
			font-family: 'IM Fell English SC', serif;
			
			https://fonts.google.com/specimen/Amatic+SC?selection.family=Amatic+SC
			font-family: 'Amatic SC', cursive;
		-->
		
		<link rel="stylesheet" type="text/css" href="css/resume.css"/>
		<link rel="stylesheet" type="text/css" href="css/for_header.css"/>
	</head>
	
	<body>
		{% include header.html %}
		
		<!-- Above the Fold -->
		<div class="intro_container">
			<div class="intro_img"></div>
			<div class="intro_content">
				<p>Responsibilities handed to me</p>
				<h1>The Jobs I did</h1>
			</div>
		</div>
		
		<div class="outer_flex">
			<!-- Technologies -->
			<div class="container">
				<div class="middle_flex">
					<div class="header_1">Technologies</div>
					<div class="inner_flexbox_wrapper">
						<div class="inner_row_flexbox">
							<div class="comforts">
								<div class="header_2">Day-to-day Comfort</div>
								<ul>
									<li>Python</li>
									<li>Pygame</li>
									<li>HTML5 / CSS3</li>
									<li>Version Control (GIT)</li>
								</ul>
							</div>
							<div class="experience_with">
								<div class="header_2">Experience with</div>
								<ul>
									<li>C</li>
									<li>JavaScript (limited)</li>
									<li>Google Firebase (limited)</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Work Experience -->
			<div class="container">
				<div class="middle_flex">
					<div class="header_1">Work Experience</div>
					<div class="inner_flexbox_wrapper">
						<div class="inner_column_flexbox">
							<div class="work">
								<div class="title">Front of the House</div>
								<span class="company"><a href="" class="link a_remove_deco">Apache Pizza</a> & <a href="" class="link a_remove_deco">Lam's Asian Cuisine</a></span>
								<span class="location">Dún Laoghaire, Dublin, Ireland</span>
								<span class="period">May 2018 – September 2018</span>
								<div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae eros libero. Sed facilisis urna a aliquet venenatis. Morbi malesuada feugiat consectetur. Duis id nunc non nisl mollis tincidunt. Nunc condimentum ultrices hendrerit. Integer eu vehicula arcu, bibendum placerat augue. Suspendisse potenti. Integer eget ligula hendrerit, ultricies ex non, elementum lectus. Nulla eget porta ipsum. Aliquam et venenatis eros.</div>
							</div>
							<div class="work">
								<div class="title">Founder / Admin</div>
								<span class="company"><a href="" class="link a_remove_deco">EternalzCraft Minecraft Server</a></span>
								<span class="location">Penang, Malaysia</span>
								<span class="period">2013 – 2014 and 2016</span>
								<div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae eros libero. Sed facilisis urna a aliquet venenatis. Morbi malesuada feugiat consectetur. Duis id nunc non nisl mollis tincidunt. Nunc condimentum ultrices hendrerit. Integer eu vehicula arcu, bibendum placerat augue. Suspendisse potenti. Integer eget ligula hendrerit, ultricies ex non, elementum lectus. Nulla eget porta ipsum. Aliquam et venenatis eros.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Education -->
			<div class="container">
				<div class="middle_flex">
					<div class="header_1">Education</div>
					<div class="inner_flexbox_wrapper">
						<div class="inner_column_flexbox">
							<div class="edu">
								<div class="course">BSc in Computer Science</div>
								<span class="institute">University College Dublin</span>
								<span class="location">Dublin, Ireland</span>
								<span class="period">2017 – Present</span>
							</div>
							<div class="edu">
								<div class="course">Cambridge International AS & A Levels</div>
								<span class="institute">INTI International College Penang</span>
								<span class="location">Penang, Malaysia</span>
								<span class="period">2016 – 2017</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="contact_to_hire"></div>
		
		{% include footer.html %}
	</body>
	
</html>