---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include global_resources.html %}
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../shared_css/programming_projects.css"/>
		<link rel="stylesheet" type="text/css" href="css/own_programming_project.css"/>
		
		<title>Plain Planes</title>
	</head>
	
	<body>
		{% include header.html %}
		
		<!-- Above the Fold -->
		<div class="intro_container">
			<div class="intro_content">
				<h1>Plain Planes</h1>
				<h2>Aircraft shooting other aircrafts.</h2>
			</div>
		</div>
		
		<div class="img_wrapper">
			<img src="img/plain_planes_1.png" class="intro_img"/>
		</div>
		
		<div class="content_container">
			<div class="start">
				<h3>Task</h3>
				<h4>Create a simple game after reading Python Crash Course by Eric Matthes. Inspired heavily by my childhood game, Platypus.</h4>
			</div>
			<div class="middle">
				<div class="pages">
					<div class="page">
						<h4>Game Start</h4>
						<img src="img/1_Start.png"/>
					</div>
					<div class="page">
						<h4>Hostiles</h4>
						<img src="img/2_Hostiles.png"/>
					</div>
					<div class="page">
						<h4>Upgrade Drops</h4>
						<img src="img/3_Upgrade_Drops.png"/>
					</div>
					<div class="page">
						<h4>Upgrades</h4>
						<img src="img/4_Upgrades.png"/>
					</div>
					<div class="page">
						<h4>Game End</h4>
						<img src="img/5_End.png"/>
					</div>
				</div>
			</div>
			<div class="end">
				<h3>Fun Facts</h3>
				<ul>
					<li>Project discontinued as I pursue other projects (Might work on it in the future after better mastery of Python).</li>
					<li>Vector graphics acquired from Pixabay.</li>
					<li>Game written in Python and pygame.</li>
					<li>
						<a href="https://github.com/bryansng/plain_planes" class="a_remove_deco" target="_blank">
							<i class="fa fa-github fa-lg"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		{% include footer.html %}
	</body>
	
</html>