---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include global_resources.html %}
		
		<link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
		<!--
			https://fonts.google.com/specimen/IM+Fell+English+SC?selection.family=IM+Fell+English+SC
			font-family: 'IM Fell English SC', serif;
			
			https://fonts.google.com/specimen/Amatic+SC?selection.family=Amatic+SC
			font-family: 'Amatic SC', cursive;
		-->
	</head>
	
	<body>
		{% include header.html %}
		
		{% include footer.html %}
	</body>
	
</html>