.content_container{
	padding: 8vw 4vw;
	
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #1A1A1A;
}

.start h3{
	padding-bottom: 2vh;
}
.start h3:after{
	content: ":";
}
.start h4{
	padding-bottom: 5vh;
}

.homepage{
	padding: 10vh 10vw;
	
	background-color: #EEEEEE;
}
.homepage img{
	width: 100%;
	
	object-fit: auto;
}

.pages{
	margin: 10vh 0;
	padding: 10vh 2.5vw;
	background-color: #EEEEEE;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	justify-content: space-around;
}
.page{
	padding: 2vw;
}
.page h4{
	padding-bottom: 1vw;
	text-align: center;
}
.page img{
	height: 80vh;
	
	object-fit: contain;
}