---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include global_resources.html %}
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../shared_css/other_projects.css"/>
		<link rel="stylesheet" type="text/css" href="css/own_other_project.css"/>
		
		<title>EternalzCraft</title>
	</head>
	
	<body>
		{% include header.html %}
		
		<!-- Above the Fold -->
		<div class="intro_container">
			<div class="intro_content">
				<h1>EternalzCraft</h1>
				<h2>A Malaysian Minecraft server.</h2>
			</div>
		</div>
		
		<div class="img_wrapper">
			<img src="img/eternalz_craft_1.jpg" class="intro_img"/>
		</div>
		
		<div class="content_container">
			<div class="start">
				<h3>Tasks</h3>
				<ol>
					<li>Figure out a way to allow players to join a Minecraft server hosted on your local area network online.</li>
					<li>Use whatever means neccessary to attract new players to the server.</li>
					<li>Keep innovating and adding more features into the server.</li>
				</ol>
			</div>
			<div class="middle">
				<div class="timeline">
					<div class="container left">
						<div class="content">
							<h2>31 August 2013</h2>
							<h3>First collaborative build with builders</h3>
							<img src="img/old_ec/1_first_build.jpg" alt="First Collaborative Build"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>4 September 2013</h2>
							<h3>Light House, Builder's first build</h3>
							<img src="img/old_ec/2_second_build.jpg" alt="Builder's First Build"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>8 September 2013</h2>
							<h3>Server's shop</h3>
							<img src="img/old_ec/3_shop.jpg" alt="Shop"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>10 November 2013</h2>
							<h3>First Cover Photo</h3>
							<img src="img/old_ec/4_cover_photo.jpg" alt="First Cover Photo"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>5 December 2013</h2>
							<h3>Milestone - 30+ Players in Server</h3>
							<img src="img/old_ec/5_30_players.jpg" alt="First time 30+ Players"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>24 December 2013</h2>
							<h3>Celebrating Christmas with Players</h3>
							<img src="img/old_ec/6_christmas_with_players.jpg" alt="Christmas with Players"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>12 January 2014</h2>
							<h3>Milestone - 45 Players in Server</h3>
							<img src="img/old_ec/7_45_players.jpg" alt="First time 45 Players"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>14 January 2014</h2>
							<h3>Game Event organized by Moderators</h3>
							<img src="img/old_ec/8a_event_by_mods.jpg" alt="Event organized by Mods"/>
							<img src="img/old_ec/8b_event_by_mods.jpg" alt="Event organized by Mods"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>8 February 2014</h2>
							<h3>Digital Clock created by Redstone Builder</h3>
							<img src="img/old_ec/9_digital_clock.jpg" alt="Digital Clock by Redstone Builder"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>16 February 2014</h2>
							<h3>PvP Arena created by Builder</h3>
							<img src="img/old_ec/10a_pvp_arena.jpg" alt="PvP arena by Builder"/>
							<img src="img/old_ec/10b_pvp_arena.jpg" alt="PvP arena by Builder"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>28 February 2014</h2>
							<h3>Reached 100 members in our Facebook Group</h3>
							<img src="img/old_ec/11_100_members.png" alt="Reached 100 Members in Facebook Group"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>24 March 2014</h2>
							<h3>Facebook group members surpassed that of Facebook page likes</h3>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>5 April 2014</h2>
							<h3>Implemented military ranking system</h3>
							<img src="img/old_ec/12_army_ranking.png" alt="Added Military Ranking System"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>9 June 2014</h2>
							<h3>Added new Player Versus Player arenas and Gun arenas</h3>
							<img src="img/old_ec/13_arenas.png" alt="Added new arenas"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>3 June 2014</h2>
							<h3>Added Donor weapons Skull</h3>
							<img src="img/old_ec/14_skull.png" alt="Added Donor Skull Weapons"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>17 June 2014</h2>
							<h3>Server shut down. End of First Installment</h3>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>13 December 2015</h2>
							<h3>Return of the server</h3>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>31 December 2015</h2>
							<h3>New Year Sneak Peek</h3>
							<img src="img/mid_ec/1a_ny_sneak_peek.png" alt="New Year Sneak Peek"/>
							<img src="img/mid_ec/1b_ny_sneak_peek.png" alt="New Year Sneak Peek"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>6 January 2016</h2>
							<h3>Created new Facebook group</h3>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>8 January 2016</h2>
							<h3>New Cover Photo</h3>
							<img src="img/mid_ec/2_new_cover_photo.png" alt="New Cover Photo"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>9 January 2016</h2>
							<h3>Skyblock Shop Sneak Peek</h3>
							<img src="img/mid_ec/3_skyshop.png" alt="Skyblock Shop"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>16 January 2016</h2>
							<h3>The Walking Dead Sneak Peek</h3>
							<img src="img/mid_ec/4_twd_spawn.jpg" alt="The Walking Dead Spawn"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>22 January 2016</h2>
							<h3>Gun Shop Sneak Peek</h3>
							<img src="img/mid_ec/5_ec_gun_shop.png" alt="Gun Shop Sneak Peek"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>23 January 2016</h2>
							<h3>What do you do when you have a zombie horde chasing after you and your pals?</h3>
							<img src="img/mid_ec/6_you_run.png" alt="You Run"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>24 January 2016</h2>
							<h3>More The Walking Dead gamemode Sneak Peek</h3>
							<img src="img/mid_ec/7_tank.jpg" alt="The Walking Dead Tank"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>30 January 2016</h2>
							<h3>The ping is strong with this one</h3>
							<img src="img/mid_ec/9_ping_testing.jpg" alt="Ping Testing"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>31 January 2016</h2>
							<h3>Added new Gun Mob Arena at The Walking Dead</h3>
							<img src="img/mid_ec/8a_ma_twd.jpg" alt="New Gun Mob Arena"/>
							<img src="img/mid_ec/8b_ma_twd.jpg" alt="New Gun Mob Arena"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>31 January 2016</h2>
							<h3>Added Mob Spawners Shop</h3>
							<img src="img/mid_ec/10a_spawners.jpg" alt="Mob Spawners Shop"/>
							<img src="img/mid_ec/10b_spawners.jpg" alt="Mob Spawners Shop"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>5 February 2016</h2>
							<h3>Testing New Mob Arena with players</h3>
							<img src="img/mid_ec/11a_ma_trap.jpg" alt="Mob Arena Trap"/>
							<img src="img/mid_ec/11b_ma_trap.jpg" alt="Mob Arena Trap"/>
							<img src="img/mid_ec/11c_ma_trap.jpg" alt="Mob Arena Trap"/>
							<img src="img/mid_ec/11d_ma_trap.jpg" alt="Mob Arena Trap"/>
							<img src="img/mid_ec/11e_ma_trap.jpg" alt="Mob Arena Trap"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>11 February 2016</h2>
							<h3>Fishing with one of the Admins</h3>
							<img src="img/mid_ec/12_fishing_online.jpg" alt="Fishing with Admin"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>14 February 2016</h2>
							<h3>Server closed due to computer motherboard failure</h3>
							<img src="img/mid_ec/13_server_closed.png" alt="Server Closed"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>17 March 2016</h2>
							<h3>Third Installment Sneak Peek</h3>
							<img src="img/new_ec/1_new_comeback.jpg" alt="Third Installment"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>19 March 2016</h2>
							<h3>More Sneak Peek</h3>
							<img src="img/new_ec/2_op_zombies.png" alt="Overpowered Zombies"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>23 March 2016</h2>
							<h3>When your head don't work like they used to before...</h3>
							<img src="img/new_ec/3_weird_head.png" alt="Cracked Zombie"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>25 March 2016</h2>
							<h3>When you can't meet him in real life, at least you tried duplicating him</h3>
							<img src="img/new_ec/4a_gordon_ramsay.png" alt="Gordon Ramsay"/>
							<img src="img/new_ec/4b_gordon_ramsay.png" alt="Gordon Ramsay"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>25 March 2016</h2>
							<h3>Testing third installment with Staffs</h3>
							<img src="img/new_ec/5_testing_with_staffs.png" alt="Testing server with staffs"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>27 March 2016</h2>
							<h3>New Spawn Sneak Peek</h3>
							<img src="img/new_ec/6a_new_spawn.png" alt="New Spawn Sneak Peek"/>
							<img src="img/new_ec/6b_new_spawn.png" alt="New Spawn Sneak Peek"/>
							<img src="img/new_ec/6c_new_spawn.png" alt="New Spawn Sneak Peek"/>
							<img src="img/new_ec/6d_new_spawn.png" alt="New Spawn Sneak Peek"/>
							<img src="img/new_ec/6e_new_spawn.png" alt="New Spawn Sneak Peek"/>
							<img src="img/new_ec/6f_new_spawn.png" alt="New Spawn Sneak Peek"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>27 March 2016</h2>
							<h3>+1 Donor Perks</h3>
							<img src="img/new_ec/7_donor_perk.png" alt="+1 Donor Perks"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>2 April 2016</h2>
							<h3>New Mob Zones</h3>
							<img src="img/new_ec/8a_mob_zones.png" alt="New Mob Zones"/>
							<img src="img/new_ec/8b_mob_zones.png" alt="New Mob Zones"/>
							<img src="img/new_ec/8c_mob_zones.png" alt="New Mob Zones"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>15 April 2016</h2>
							<h3>Attempt at textures</h3>
							<img src="img/new_ec/9_using_textures.png" alt="Attempt at using Texture Packs"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>16 April 2016</h2>
							<h3>More textures</h3>
							<img src="img/new_ec/10a_gun_textures.png" alt="Gun Textures"/>
							<img src="img/new_ec/10b_gun_textures.png" alt="Gun Textures"/>
							<img src="img/new_ec/10c_gun_textures.png" alt="Gun Textures"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>17 April 2016</h2>
							<h3>New /spawn command</h3>
							<img src="img/new_ec/11_new_spawn_command.png" alt="New /spawncommand"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>18 April 2016</h2>
							<h3>One of the New Mob Zone</h3>
							<img src="img/new_ec/12a_mob_zone.png" alt="New Mob Zone"/>
							<img src="img/new_ec/12b_mob_zone.png" alt="New Mob Zone"/>
							<img src="img/new_ec/12c_mob_zone.png" alt="New Mob Zone"/>
							<img src="img/new_ec/12d_mob_zone.png" alt="New Mob Zone"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>22 April 2016</h2>
							<h3>The new hub, plain and simple</h3>
							<img src="img/new_ec/13a_new_hub.png" alt="New Hub"/>
							<img src="img/new_ec/13b_new_hub.png" alt="New Hub"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>24 April 2016</h2>
							<h3>New photo to advertise with</h3>
							<img src="img/new_ec/14_cover_photo.jpg" alt="Cover Photo"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>26 April 2016</h2>
							<h3>GUI Kits</h3>
							<img src="img/new_ec/15_gui_kits.png" alt="GUI Kits"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>27 April 2016</h2>
							<h3>More Textures</h3>
							<img src="img/new_ec/16_more_textures.png" alt="Rick from The Walking Dead"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>29 March 2016</h2>
							<h3>Thom, tis he.<br/>
							Wherein art thou Thom?<br/>
							Hie thee hither!<br/>
							Quoth I, Dally thou shouldst not.<br/>
							'gin, tarry thou not.<br/>
							Anon</h3>
							<img src="img/new_ec/17_good_build.png" alt="Builder's work"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>28 April 2016</h2>
							<h3>Now you see me, now you don't</h3>
							<img src="img/new_ec/18a_enchantment_table.png" alt="Disappearing Enchantment Table"/>
							<img src="img/new_ec/18b_enchantment_table.png" alt="Disappearing Enchantment Table"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>28 April 2016</h2>
							<h3>Photoshoot with staffs</h3>
							<img src="img/new_ec/19_photoshoot.png" alt="Photoshoot with staffs"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>29 April 2016</h2>
							<h3>Personality in the server</h3>
							<img src="img/new_ec/20a_personality.png" alt="Personality in the server"/>
							<img src="img/new_ec/20b_personality.png" alt="Personality in the server"/>
							<img src="img/new_ec/20c_personality.png" alt="Personality in the server"/>
							<img src="img/new_ec/20d_personality.png" alt="Personality in the server"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>30 April 2016</h2>
							<h3>GunKitPvP</h3>
							<img src="img/new_ec/21a_gunkitpvp.png" alt="GunKitPvP"/>
							<img src="img/new_ec/21b_gunkitpvp.png" alt="GunKitPvP"/>
							<img src="img/new_ec/21c_gunkitpvp.png" alt="GunKitPvP"/>
							<img src="img/new_ec/21d_gunkitpvp.png" alt="GunKitPvP"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>1 May 2016</h2>
							<h3>When two idiots stumble upon new plugins</h3>
							<img src="img/new_ec/22a_obscence.png" alt="Obscene"/>
							<img src="img/new_ec/22b_obscence.png" alt="Obscene"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>5 June 2016</h2>
							<h3>Charming but a little creepy</h3>
							<img src="img/new_ec/23_owner_of_ec.png" alt="Owner of EternalzCraft"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>29 June 2016</h2>
							<h3>New Mode - Wasteland</h3>
							<img src="img/new_ec/24a_wasteland.png" alt="New Mode - Wasteland"/>
							<img src="img/new_ec/24b_wasteland.png" alt="New Mode - Wasteland"/>
							<img src="img/new_ec/24c_wasteland.png" alt="New Mode - Wasteland"/>
							<img src="img/new_ec/24d_wasteland.png" alt="New Mode - Wasteland"/>
							<img src="img/new_ec/24e_wasteland.png" alt="New Mode - Wasteland"/>
							<img src="img/new_ec/24f_wasteland.png" alt="New Mode - Wasteland"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>2 July 2016</h2>
							<h3>Drop Party</h3>
							<img src="img/new_ec/25_drop_party.png" alt="Drop Party"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>31 July 2016</h2>
							<h3>New Cover Photo</h3>
							<img src="img/new_ec/26_cover_photo.png" alt="New Cover Photo"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>31 July 2016</h2>
							<h3>Votes in July</h3>
							<img src="img/new_ec/27_july_votes.jpg" alt="Votes in July"/>
						</div>
					</div>
					<div class="container right">
						<div class="content">
							<h2>31 August 2016</h2>
							<h3>Votes in August</h3>
							<img src="img/new_ec/28_august_votes.jpg" alt="Votes in August"/>
						</div>
					</div>
					<div class="container left">
						<div class="content">
							<h2>15 September 2016</h2>
							<h3>Official Closure of EternalzCraft</h3>
							<img src="img/new_ec/29_server_closed.png" alt="Closure of EternalzCraft"/>
						</div>
					</div>
				</div>
			</div>
			<div class="end">
				<h3>Fun Facts</h3>
				<ul>
					<li>
						<a href="https://www.facebook.com/eternalzcraftminecraftserver/" class="a_remove_deco" target="_blank">
							<i class="fa fa-facebook fa-lg"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		<script src="js/addVisualSpaceForTimelines.js"></script>
		
		{% include footer.html %}
	</body>
	
</html>