.intro_container{
	width: 100%;
}

.intro_img{
	position: relative;
	
	height: 100vh;
	
	opacity: 0.5;
	
	/* image url, position (x and y, for shifting image), linear-gradient. */
	background: url("../img/stairs.JPG"), linear-gradient(to right, grey, grey);
	background-position: 0% 10%;		/* x and y, for shifting image. */
	background-size: cover;
	background-repeat: no-repeat;
	/*background-blend-mode: screen;*/
	background-blend-mode: hard-light;
	
	filter: brightness(100%) grayscale(50%);
}

.intro_content{
	width: 75%;
	
	position: absolute;
	
	text-align: center;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	color: white;
}

.intro_content p{
	font-size: 2vw;
	
	font-style: italic;
	/*
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Merriweather', serif;
	font-family: 'Bree Serif', serif;
	font-family: 'Noto Serif', serif;
	font-family: 'Moon_Bold';
	font-family: 'Moon_Light';
	font-family: 'Baufra_SemiBold';
	font-family: 'Helvetica';
	*/
}

.intro_content h1{
	padding-top: 2vw;
	
	font-size: 5vw;
	text-transform: uppercase;
	
	font-weight: 1000;
	font-family: 'Helvetica';
}








.chats{
	padding: 15vh 5vw;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	justify-content: center;
	align-content: center;
	align-items: center;
}
.chat{
	display: block;
	
	cursor: pointer;
	
	padding: 2vw;
	
	width: 40%;
	
	border-style: solid;
	border-color: #1A1A1A;
	border-width: 0.15vw;
	
	color: #1A1A1A;
	
	transition-property: all;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	transition-delay: 0s;
}
.chat .category{
	padding-bottom: 4vh;
	
	font-size: 4.5vw;
}
.chat .desc{
	padding-bottom: 5vh;
	
	line-height: 2.25vw;
	
	font-size: 1.3vw;
	font-family: 'Montserrat', sans-serif;
}
.chat .action{
	display: inline-block;
	
	border-bottom-style: solid;
	border-bottom-color: lightgray;
	border-bottom-width: 0.1vh;
	
	font-size: 1.2vw;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}

.chat:hover{
	color: white;
	
	background-color: #1A1A1A;
}
.char:hover .action{
	border-bottom-color: white;
}




.gen_ques_modal{
	display: none;	/* Hidden by default */
	position: fixed;	/* Stay in place */
	
	width: 100%;	/* Full width */
	height: 100%;	/* Full height */
	
	overflow: auto;	/* Enable scroll if needed */
	
	left: 0;
	top: 0;
	
	background-color: rgba(0, 0, 0, 0.4);	/* Black w/ opacity */
	
	z-index: 1;	/* Sit on top */
}
.gen_ques_modal_content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	padding: 6vh 3vw;
	
	width: 55%;	/* Could be more or less, depending on screen size. */
	
	background-color: white;
	
	font-family: 'Montserrat', sans-serif;
}


.gen_ques_modal_content .top{
	padding-bottom: 8vh;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
.top h2{
	word-spacing: 0.25vw;
	
	font-size: 2.15vw;
	font-weight: 600;
	line-height: 2.25vw;
	
	color: #1A1A1A;
}
/* The Close Button */
.close{
	color: #1A1A1A;
	font-size: 2.1vw;
}
.close:hover, .close:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
}


.middle{
	color: #1A1A1A;
	
	font-weight: 500;
}
.middle label, .middle input, .middle textarea{
	display: inline-block;
}
.middle h3, .middle h4, .middle label{
	padding-bottom: 1.5vh;
}
.middle h3, .middle label{
	font-size: 1.2vw;
}
.middle input, .middle textarea{
	margin-bottom: 5vh;
}
.inner_column input{
	margin-bottom: initial;
}
.middle h4{
	font-size: 1.75vh;
	opacity: 0.75;
}

.inner_row{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
.inner_column{
	width: 49%;
	
	margin-bottom: 5vh;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.inner_column input, .middle input, .middle textarea{
	width: 100%;
	
	padding: 0.9vw;
	
	background-color: #FAFAFA;
	
	border-color: #CCC;
	border-style: solid;
	border-width: 0.075vw;
	
	line-height: normal;
	color: #000;
	
	font-size: 1.2vw;
}
input:focus, textarea:focus{
	outline: none;
	background-color: white;
}
/*border-color: #cc3b3b;*/
.inner_column input{
	margin-bottom: 0vh;
}
.inner_column label{
	margin-top: 1.25vh;
	
	font-size: 2vh;
}

.bottom{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	justify-content: center;
	align-content: center;
	align-items: center;
}
.bottom .send_msg{
	/* Counter inputs */
	margin-bottom: initial;
	display: block;
	width: initial;
	line-height: initial;
	
	padding: 2.25vh 2.5vw;
	
	border: none;
	
	background-color: #1A1A1A;
	
	font-size: 1.1vw;
	text-align: center;
	color: white;
	
	cursor: pointer;
	
	outline: none;
}


.gen_ques_success_modal{
	display: none;	/* Hidden by default */
	position: fixed;	/* Stay in place */
	
	width: 100%;	/* Full width */
	height: 100%;	/* Full height */
	
	overflow: auto;	/* Enable scroll if needed */
	
	left: 0;
	top: 0;
	
	background-color: rgba(0, 0, 0, 0.4);	/* Black w/ opacity */
	
	z-index: 10;	/* Sit on top */
}
.gen_ques_success_modal .border_loading{
	border-color: darkgray;
}
.gen_ques_success_modal .border_success{
	border-color: #16ff0a;	/* Neon Green */
}
.gen_ques_success_content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	padding: 3vw;
	
	width: 50%;	/* Could be more or less, depending on screen size. */
	
	background-color: white;
	
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	
	border-width: 0.15vw;
	border-style: solid;
}
.success_msg .close{
	position: absolute;
	
	padding-top: 1vw;
	padding-right: 1.5vw;
	font-size: 2.1vw;
	
	top: 0;
	right: 0;
}
.success_msg .loading{
	padding-bottom: 0;
}
.success_msg .loading:after{
	content: "";
	
	animation-name: dots;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: ease-in-out;
	animation-fill-mode: none;
}
@keyframes dots{
	0% {content: ".";}
	25% {content: "..";}
	50% {content: "...";}
	75% {content: "....";}
	100% {content: ".....";}
}
.success_msg h2{
	padding-bottom: 1vw;
	font-size: 2vw;
}
.success_msg h3{
	font-size: 1.2vw;
}









.map_container{
	cursor: default;
	z-index: 1;
}
#map{
	width: 100%;
	height: 50vh;
	
	z-index: -1;
}







/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
	.intro_container{
		position: relative;
	}
	.intro_img{
		width: 100%;
		height: 35vh;
	}
	.intro_content p{
		font-size: 5vw;
	}
	.intro_content h1{
		font-size: 8vw;
	}
	
	.chats{
		padding: 18vw 6vw;
	}
	.chat{
		padding: 13vw;
		width: 100%;
		border-width: 0.5vw;
	}
	.chat .category{
		padding-bottom: 4vh;
		font-size: 12vw;
	}
	.chat .desc{
		padding-bottom: 4vh;
		line-height: 1.5em;
		font-size: 4.5vw
	}
	.chat .action{
		border-bottom-width: 0.1vh;
		font-size: 5vw;
	}
	
	.gen_ques_modal_content{
		padding: 5vh 9vw;
		
		width: 100%;
		height: 100vh;
	}
	.gen_ques_modal_content .top{
		padding-bottom: 6vh;
	}
	.top h2{
		word-spacing: 0.25vw;
		
		font-size: 7vw;
		font-weight: 500;
		line-height: 1.1em;
	}
	.close{
		font-size: 8vw;
	}


	.middle h3, .middle h4, .middle label{
		padding-bottom: 1.5vh;
	}
	.middle h3, .middle label{
		font-size: 4.2vw;
	}
	.middle input, .middle textarea{
		margin-bottom: 5vh;
	}
	.middle h4{
		font-size: 1.75vh;
		opacity: 0.75;
	}

	.inner_column{
		width: 49%;
		
		margin-bottom: 5vh;
	}
	.inner_column input, .middle input, .middle textarea{
		padding: 3.7vw;
		border-width: 0.3vw;
		font-size: 4vw;
	}
	.inner_column input{
		margin-bottom: 0vh;
	}
	.inner_column label{
		margin-top: 1.25vh;
		
		font-size: 2vh;
	}

	.bottom .send_msg{
		padding: 2.25vh 12vw;
		
		font-size: 4.5vw;
	}
	.gen_ques_success_content{
		padding: 6vw;
		
		width: 90%;	/* Could be more or less, depending on screen size. */
		
		border-width: 0.5vw;
	}
	.success_msg .close{
		padding-top: 1vw;
		padding-right: 2vw;
		font-size: 7vw;
	}
	.success_msg h2{
		padding-bottom: 1vw;
		font-size: 5vw;
	}
	.success_msg h3{
		font-size: 4.2vw;
	}

	#map{
		width: 100%;
		height: 75vh;
	}
}

/* Medium devices (landscape tablets, portrait tablets and large phones, between 600px and 1280px) */
/* And for small screens in landscape mode. */
@media only screen and (min-width: 600px) and (max-width: 1280px), screen and (max-width: 600px) and (orientation: landscape){
	.intro_container{
		position: relative;
	}
	.intro_img{
		width: 100%;
		height: 100vh;
	}
	.intro_content p{
		font-size: 3.5vw;
	}
	.intro_content h1{
		font-size: 4vw;
	}
	
	.chats{
		padding: 12vw 5vw;
	}
	.chat{
		padding: 7vw;
		width: 100%;
		border-width: 0.4vw;
	}
	.chat .category{
		padding-bottom: 6vh;
		font-size: 8vw;
	}
	.chat .desc{
		padding-bottom: 14vh;
		line-height: 1.5em;
		font-size: 3vw;
	}
	.chat .action{
		border-bottom-width: 0.1vh;
		font-size: 2.8vw;
	}
	
	.gen_ques_modal{
		background-color: white;
	}
	.gen_ques_modal_content{
		padding: 5vh 9vw;
		
		width: 100%;
		height: 100%;
		
		background-color: transparent;
	}
	.gen_ques_modal_content .top{
		padding-bottom: 6vh;
	}
	.top h2{
		word-spacing: 0.25vw;
		
		font-size: 4vw;
		font-weight: 500;
		line-height: 1.1em;
	}
	.close{
		font-size: 5vw;
	}

	.middle{
		padding-bottom: 2vw;
	}
	.middle h3, .middle h4, .middle label{
		padding-bottom: 2vh;
	}
	.middle h3, .middle label{
		font-size: 2.6vw;
	}
	.middle input, .middle textarea{
		margin-bottom: 5vh;
	}
	.middle h4{
		font-size: 2vw;
		opacity: 0.75;
	}

	.inner_column{
		width: 49%;
		
		margin-bottom: 5vh;
	}
	.inner_column input, .middle input, .middle textarea{
		padding: 2vw;
		border-width: 0.3vw;
		font-size: 2.7vw;
	}
	.inner_column input{
		margin-bottom: 0vh;
	}
	.inner_column label{
		margin-top: 1.25vh;
		
		font-size: 2vw;
	}

	.bottom .send_msg{
		padding: 3vh 10vw;
		
		font-size: 2.5vw;
	}
	.gen_ques_success_content{
		padding: 6vw;
		
		width: 90%;	/* Could be more or less, depending on screen size. */
		
		border-width: 0.5vw;
	}
	.success_msg .close{
		padding-top: 1vw;
		padding-right: 2vw;
		font-size: 5vw;
	}
	.success_msg h2{
		padding-bottom: 2vw;
		font-size: 3vw;
	}
	.success_msg h3{
		font-size: 2.5vw;
	}

	#map{
		width: 100%;
		height: 100vh;
	}
	
	/* For Header */
	.nav_container{
		width: 100%;
		
		position: absolute;
		z-index: 1;
		
		background-color: transparent;
	}
	#contact{
		border-bottom-color: white;
	}
}
/* In Ipad or larger mobile screens in portrait, the intro img takes the height of the device. */
@media only screen and (min-width: 600px) and (max-width: 1280px) and (orientation: portrait){
	.intro_img{
		height: 45vh;
	}

	#map{
		width: 100%;
		height: 75vh;
	}
}

/* Large devices (laptops/desktops, 1280px and up) */
@media only screen and (min-width: 1280px){
	/* For Header */
	.nav_container{
		width: 100%;
		
		position: absolute;
		z-index: 1;
		
		background-color: transparent;
	}
	#contact{
		border-bottom-color: white;
	}
}









/* Include fonts */
@font-face{
	font-family: 'Moon_Bold';
	src: url('../../fonts/Moon_Bold.otf');
}

@font-face{
	font-family: 'Moon_Light';
	src: url('../../fonts/Moon_Light.otf');
}

@font-face{
	font-family: 'Baufra_SemiBold';
	src: url('../../fonts/Baufra_SemiBold.otf');
}

@font-face{
	font-family: 'Helvetica';
	src: url('../../fonts/Helvetica.ttf');
}