.intro_container{
	width: 100%;
}

.intro_img{
	position: relative;
	
	height: 100vh;
	
	opacity: 0.7;
	
	background: url("../img/flow_1.jpg"), linear-gradient(to right, black, black);
	/*background-position: center;*/
	background-position: 0% 10%;		/* x and y, for shifting image. */
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: hard-light;
	
	filter: brightness(100%) grayscale(60%);
}

.intro_content{
	position: absolute;
	
	text-align: center;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	color: white;
}

.intro_content p{
	font-size: 3vw;
	
	font-style: italic;
	/*
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Merriweather', serif;
	font-family: 'Bree Serif', serif;
	font-family: 'Noto Serif', serif;
	font-family: 'Moon_Bold';
	font-family: 'Moon_Light';
	font-family: 'Baufra_SemiBold';
	font-family: 'Helvetica';
	*/
}

.intro_content h1{
	padding-top: 2vw;
	
	font-size: 6vw;
	text-transform: uppercase;
	
	font-weight: 1000;
	
	font-family: 'Helvetica';
}




.transition{
	width: 100%;
	background-color: #EAEAEA;
	box-shadow: 0 0 150px 40px #E2E2E2;
	padding-top: 1%;
	margin-bottom: 2%;
}

.footer_transition_container{
	margin-top: 2%;
	padding-bottom: 4%;
	background-color: #EAEAEA;
	box-shadow: 0 0 150px 25px #E2E2E2;
}








.content_container, .preload_container{
	width: 100%;
	
	padding: 3.2vw 5vw;
}
.content_container{
	display: none;
}

.quotes_container, .preload_quotes{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
	justify-content: center;
	align-content: center;
	align-items: center;
	
	margin: 0vw 5vw;
	box-shadow: 0px 0px 8vw 1vw #EAEAEA;
}

.quotes_container .quote_container:first-child, .preload_quotes .preload_quote_container:first-child{
	margin-top: 5vw;
}

.quotes_container .quote_container:last-child, .preload_quotes .preload_quote_container:last-child{
	margin-bottom: 5vw;
}

.quote_container{
	text-align: center;
	font-size: 1.289vw;
	
	margin-bottom: 10vw;
}
.preload_quote_container{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	
	justify-content: center;
	align-content: center;
	align-items: center;
	
	margin-bottom: 10vw;
}

.quote_container cite, .quote_container blockquote{
	font-style: italic;
}
.preload_author{
	width: 12vw;
	height: 1.2vw;
	
	background-color: #EAEAEA;
}

.quote_date{
	margin-bottom: 1.25vw;
	color: lightgray;
}
.preload_date{
	width: 8vw;
	height: 1.2vw;
	
	margin-bottom: 1.25vw;
	
	background-color: #EAEAEA;
}

.quote{
	/*font-family: 'Helvetica';*/
	/*font-size: 1.289vw;*/
	font-size: 1.5vw;
	margin-bottom: 0.75vw;
}
.quote:before{
	content: "\201C  ";
	font-style: italic;
	font-size: 1.6vw;
}
.quote:after{
	content: "\201D";
	font-style: italic;
	font-size: 1.6vw;
}
.preload_quote{
	width: 50vw;
	height: 1.5vw;
	
	margin-bottom: 0.75vw;
	
	background-color: #EAEAEA;
}







/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
}

/* Medium devices (landscape tablets, portrait tablets and large phones, between 600px and 1280px) */
/* And for small screens in landscape mode. */
@media only screen and (min-width: 600px) and (max-width: 1280px), screen and (max-width: 600px) and (orientation: landscape){
}

/* In Ipad or larger mobile screens in landscape, the intro img takes the height of the device. */
@media only screen and (min-width: 600px) and (max-width: 1280px) and (orientation: landscape){
}

/* Large devices (laptops/desktops, 1280px and up) */
@media only screen and (min-width: 1280px){
	/* For Header */
	.nav_container{
		width: 100%;
		
		position: absolute;
		z-index: 1;
		
		background-color: transparent;
	}
	#musings{
		border-bottom-color: white;
	}
}





/* Include fonts */
@font-face{
	font-family: 'Moon_Bold';
	src: url('../../fonts/Moon_Bold.otf');
}

@font-face{
	font-family: 'Moon_Light';
	src: url('../../fonts/Moon_Light.otf');
}

@font-face{
	font-family: 'Baufra_SemiBold';
	src: url('../../fonts/Baufra_SemiBold.otf');
}

@font-face{
	font-family: 'Helvetica';
	src: url('../../fonts/Helvetica.ttf');
}