.content_container{
	padding: 8vw 5vw;
	
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #1A1A1A;
}

.start h3{
	padding-bottom: 5vh;
}

.middle li{
	padding-bottom: 2vh;
}
.middle img{
	width: 100%;
	/*width: 90vw;
	height: 80vh;*/
	
	margin-bottom: 10vh;
	
	object-fit: contain;
}
.middle ol{
	list-style-position: inside;
	list-style-type: none;
	
	counter-reset: section;
}
.middle ol li:before{
	counter-increment: section;
	content: "Part " counter(section) ". ";
}